.layout-brand {
    position: absolute;
    top: -8rem;
    display: block;
    width: 100%;
    height: 250px;
    z-index: 0;
}

@media(max-width: 420px) {
    .layout-brand {
        position: absolute;
        top: -9rem;
        display: block;
        width: 100%;
        height: 250px;
        z-index: 0;
    }
}