.layout-brand {
    position: absolute;
    top: 15px;
    left: 43%;
    display: block;
    width: 150px;
    height: auto;
    z-index: 0;
}

@media(max-width: 468px) {
    .layout-brand {
        position: absolute;
        top: 10px;
        left: 32%;
        display: block;
        width: 120px;
        height: auto;
        z-index: 0;
    }
}