.about {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 450px;
    animation: fade-in 1s ease-in-out 2s forwards;
    opacity: 0;
    
}

.about-breakline{
  width: 100%;
  border: 3px solid black;
  margin-bottom: 20px;
}

.about-introduction {
    text-align: center;
    width: 40%;
    height: 500px;
    font-size: 20px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: -250px;
    visibility: hidden;
  }

.show-delayed {
  visibility: visible;
  animation: fade-in 1s ease-in-out 0s forwards;
}

@media (max-width: 468px) {
    .about {
        .about-america {
            width: 300px;
            height: 150px;
        }
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


  