.home-me {
    width: 450px;
    position: absolute;
    bottom: 30rem;
    right: 15rem;
    border: none;
    border-radius: 10px;
    animation: fadeIn 8s;
}


@media (max-width: 420px) {
    .home-me {
        width: 170px;
        position: absolute;
        bottom: 40px;
        left: 12rem;
        border: none;
        border-radius: 10px;
        animation: fadeIn 8s ease-in forwards;
    }
}



@media (min-width: 1401px) and (max-width: 1700px) {
    .home-me {
        width: 400px;
        position: absolute;
        bottom: 30%;
        right: 15rem;
    }
}

@media (min-width: 421px) and (max-width: 1400px){
    .home-me {
        width: 350px;
        position: absolute;
        bottom: 10%;
        left: 35%;
        
    }
}