.home-me {
    width: 450px;
    position: absolute;
    bottom: 30rem;
    right: 15rem;
    border: none;
    border-radius: 10px;
    animation: fadeIn 8s;
}


@media (max-width: 468px) {
    .home-me {
        width: 170px;
        position: absolute;
        bottom: 40px;
        left: 8rem;
        border: none;
        border-radius: 10px;
        animation: fadeIn 8s ease-in forwards;
    }
}



