.home-page {
    .text-zone {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        width: 900px;
        max-height: 90%;
    }
    h1 {
        // color: #fff;
        color: rgb(0, 0, 0);
        font-size: 62px;
        margin:0;
        font-family: 'Coolvetica';
        font-weight: 400;
        letter-spacing: 10px;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: rgb(0, 0, 0);
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: rgb(0, 0, 0);
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1s 1.7s backwards;
            opacity: 0.6;
        }
        ._14 {
            margin-right: -30px;
        }
        img {
            margin:0;
            margin-top: 10px;
            width: 100px;
            margin-left: 10px;
            opacity: 0;
            height: 100%;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
            margin-bottom: -30px;
            margin-right: -25px;


        }
    }
}


h2 {
    // color: #8d8d8d;
    color:rgb(17, 12, 42);
    margin-top: 20px;
    font-weight: 400;
    font-size: 21px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}


.flat-button {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 25px;
    float: left;
    color:rgb(0, 0, 0);;
    animation: fadeIn 1s 2.5s backwards;
    border: 1px solid rgb(0, 0, 0);;
    padding: 10px;
    white-space: nowrap;

    &:hover {
        color: black;
        background: #ffd700;
    }
}


@media (max-width: 975px){
    .home-page{
        .text-zone {
            
            width: 600px;
            position: absolute;
            top: 25%;
            left: 14%;
        }
        h1 {
            font-size: 30px;
        }
    }
}

@media (max-width: 1700px) {
    .home-page {
        .text-zone{
            h1 {
                font-size: 40px;
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 420px){
    .home-page{
        .text-zone {
            width: 400px;
            position: absolute;
            top: 35%;
            left: 8%;
        }
        h1 {
            font-size: 20px;
            font-weight: 600;
            &::before {
                
                display: none;
            }
    
            &::after {
                
                display: none;
            }
        }

        h2 {
            width: 300px;
            font-size: 13px;
        }

        .flat-button {
            font-size: 10px;
        }
    }
}


@media (max-width: 1400px){
    .home-page{
        .text-zone {
            width: 900px;
            position: absolute;
            top: 30%;
            left: 200px;
        }
        h1 {
            font-size: 60px;
            font-weight: 200;
            &::before {
                
                display: none;
            }
    
            &::after {
                
                display: none;
            }
        }

        h2 {
            width: 900px;
            font-size: 20px;
        }

        .flat-button {
            font-size: 10px;
        }
    }
}