

.logo-container {
   z-index: 0;
   width: 400px;
   height: 609px;
   opacity: 0;
   position: absolute;
   top: -60%;
   right: auto;
   bottom: 0;
   left: auto;
   margin: auto;
 
   svg {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transform: rotateZ(10deg) !important;
     fill: none;
   }
 
   .solid-logo {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     transform: rotateZ(10deg);
     z-index: 1;
   }
 }
 
 .svg-container {
   stroke: black;
   stroke-width: 10;
   
 }
 
 @media (max-width: 468px) {
  .logo-container {
    width: 250px;
    height: 409px;
    left: 18%;
    top: -30%;
  }
 }